body {
    background: #f2f5f9;
}
/* Tablas con bordes Zelaya*/
.table {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

/* Botones Zelaya*/
.btn-primary,
.btn-secondary {
    border-radius: 2rem;
}

/* Modal Zelaya*/
.modal-content {
    border-radius: 1rem;
}

/* Encabezado Zelaya*/
.navbar {
    border-bottom: 1px solid #e0e0e0;
}

/*Zelaya*/